* {
  box-sizing: border-box;
}

header {
  background-color: red;
  height: 100px;
  text-align: center;
  color: white;
}

header:hover {
  background-color: orange;
  color: blue;
}

main {
  background-color: gray;
}

section {
  background-color: blue;
  color: orange;
}

section::first-letter {
  color: white;
  font-size: 30px;
}
