* {
  box-sizing: border-box;
}

header {
  background-color: red;
  height: 100px;
  text-align: center;
  color: white;
}

header:hover {
  background-color: orange;
  color: blue;
}

main {
  display: flex;
  justify-content: space-around;
}

main > div {
  flex-basis: 30%;
}


section::first-letter {
  color: white;
  font-size: 30px;
}

.foo, .bar {
  height: 100px;
}

.foo {
  background-color: green;
}

.bar {
  background-color: red;
}
